@import '@fortawesome/fontawesome-svg-core/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .gradient-text {
    background: linear-gradient(135deg, #ff4d4d 0%, #ff4d4d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}